* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #202124;
}
.sfbg{
    width: 100vh;
    height: 69px;
}
.logo {
    position: absolute;
    left: -139px;
    padding: 4px 28px 0px 30px;
    top: 6px;
}
.logo img {
    width: 92px;
}